<section>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <h3>Login</h3>
    <div>
      <input
        [ngClass]="{'danger-input': !(email.valid || email.untouched)}"
        class="form-control"
        name="email"
        placeholder="enter email"
        required
        minlength="2"
        ngModel
        [email]="true"
        #email="ngModel">
        <p style="color: red" [hidden]="email.valid || email.untouched">minimum length must be > 2 and must be e-mail</p>
    </div>
    <div>
      <input
        [ngClass]="{'danger-input': !(password.valid || password.untouched)}"
        class="form-control"
        name="password"
        placeholder="enter password"
        required
        minlength="2"
        ngModel
        #password="ngModel">
      <p style="color: red" [hidden]="password.valid || password.untouched">the min length must be > 2</p>
      <p style="color: red" [hidden]="isAuth">this user does not exist</p>
    </div>
    <button
      [disabled]="!userForm.form.valid"
      type="submit"
      class="btn btn-secondary btn-submit">
      Log in
    </button>
  </form>
  <div><a routerLink="register">Registration</a></div>
</section>


