<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody class="restaurants-table">
  <tr *ngFor="let restaurant of restaurants; let idx = index">
    <th scope="row">{{idx + 1}}</th>
    <td>{{restaurant.name}}</td>
    <td>
      <button
        title="menu"
        class="btn btn-secondary"
        routerLink="details/{{restaurant.id}}/meals/list">
        <i class="bi bi-journal-text"></i>
      </button>
    </td>
    <td>
      <button
        class="btn btn-secondary"
        title="edit"
        routerLink="edit/{{restaurant.id}}">
        <i class="bi bi-wrench"></i>
      </button>
    </td>
    <td>
      <button
        class="btn btn-secondary"
        title="delete"
        (click)="deleteRestaurant(restaurant.id)">
        <i class="bi bi-trash"></i>
      </button>
    </td>
    <td>
      <button
        class="btn btn-secondary"
        title="vote"
        (click)="vote(restaurant.id, restaurant.name)"
      ><i class="bi bi-check-circle"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>

