<h3>Edit component</h3>
<!--<h3>{{restaurant.name}}</h3>-->
<!--<table class="table table-success table-striped">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th scope="col">Description</th>-->
<!--    <th scope="col">Price</th>-->
<!--    <th scope="col"></th>-->
<!--    <th scope="col"></th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody class="restaurants-table">-->
<!--  <tr *ngFor="let meal of restaurant.meals">-->
<!--    <td>{{meal.description}}</td>-->
<!--    <td>{{meal.price}}</td>-->
<!--    <td>-->
<!--      <button-->
<!--        class="btn btn-secondary"-->
<!--        title="edit"-->
<!--        routerLink="edit/{{meal.id}}">-->
<!--        <i class="bi bi-wrench"></i>-->
<!--      </button>-->
<!--    </td>-->
<!--    <td>-->
<!--      <button-->
<!--        class="btn btn-secondary"-->
<!--        title="delete"-->
<!--        (click)="delete(meal.id)">-->
<!--        <i class="bi bi-trash"></i>-->
<!--      </button>-->
<!--    </td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->

