<section>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <h3>Change Details</h3>
    <div>
      <label for="name">Name:</label>
      <input
        id="name"
        [ngClass]="{'danger-input': !(name.valid || name.untouched)}"
        class="form-control"
        name="name"
        [ngModel]="user?.name"
        placeholder="enter name"
        required
        minlength="2"
        ngModel
        #name="ngModel">
      <p style="color: red" [hidden]="name.valid || name.untouched">the min length must be > 2</p>
    </div>
    <div>
      <label for="email">Email:</label>
      <input
        id="email"
        [ngClass]="{'danger-input': !(email.valid || email.untouched)}"
        class="form-control"
        name="email"
        [ngModel]="user?.email"
        placeholder="enter email"
        required
        minlength="2"
        ngModel
        [email]="true"
        #email="ngModel">
      <p style="color: red" [hidden]="email.valid || email.untouched">minimum length must be > 2 and must be e-mail</p>
    </div>
    <div>
      <input
        hidden
        class="form-control"
        name="restaurantId"
        [ngModel]="user?.restaurantId"
        placeholder="enter restaurant id">
    </div>
    <div>
      <input
        class="form-control"
        name="votingDateTime"
        type="date"
        hidden
        [ngModel]="user?.votingDateTime"
        placeholder="enter voting date time">
    </div>
    <button
      [disabled]="!userForm.form.valid"
      type="submit"
      class="btn btn-secondary btn-submit">
      Submit
    </button>
    <button
      routerlink="/account/details"
      class="btn btn-danger btn-submit">
      Cancel
    </button>
  </form>
</section>
